body {
    margin: 0;
    font-family: Arial;
    background: #0f172a;
    color: white;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #020617;
    border-bottom: 1px solid #1e293b;
}

.logo {
    font-weight: bold;
    font-size: 20px;
}

nav a {
    color: #94a3b8;
    margin: 0 10px;
    text-decoration: none;
}

nav a:hover {
    color: white;
}

.login-btn {
    background: #2563eb;
    padding: 8px 14px;
    border-radius: 8px;
    text-decoration: none;
    color: white;
}

/* HERO */
.hero {
    text-align: center;
    padding: 40px;
}

/* MATCHES */
.matches {
    padding: 20px;
}

.match-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.match-card {
    background: #020617;
    border-radius: 12px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
}

.match-card:hover {
    transform: scale(1.03);
    background: #1e293b;
}

.team {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team img {
    width: 40px;
    height: 40px;
}

/* VS */
.vs {
    text-align: center;
    color: #94a3b8;
}

.time {
    font-size: 12px;
}

/* TABLE */
.table-section {
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #020617;
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #1e293b;
}

.team-cell {
    display: flex;
    align-items: center;
    gap: 10px;
}

.team-cell img {
    width: 24px;
}

/* SCORERS */
.scorers {
    padding: 20px;
}

.scorer-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #020617;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
}

.scorer-row img {
    width: 24px;
}

.goals {
    font-weight: bold;
}